<input
  formControlName="name"
  type="text"
  class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
  placeholder="Enter Name"
/>
<p
  *ngIf="
    registerForm.controls.name.touched &&
    registerForm.controls.name.dirty &&
    registerForm.controls.name.errors?.required
  "
  class="text-red-400"
>
  Field is required
</p>
<p
  *ngIf="
    registerForm.controls.name.touched &&
    registerForm.controls.name.dirty &&
    registerForm.controls.name.errors?.minlength
  "
  class="text-red-400"
>
  The value you entered is
  {{ registerForm.controls.name.errors?.minlength.actualLength }} characters
  long. It must be
  {{ registerForm.controls.name.errors?.minlength.requiredLength }}
  characters long
</p>
